body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.common-color{
    color: #3A3A3A;
}
/* Nav bar related style */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5.4rem;   
}
nav > ul{
    display: flex;
    gap: 34px;
}
li{
    list-style: none;
    font-size: 16px;
    font-weight: 600;
}
a{
    color: #3A3A3A;
    text-decoration: none;
}
/* Bannar related style */
.bannar{
    display: flex;
    gap: 8.31rem;
    justify-content: space-evenly;
    align-items: center;
    margin: 3.13rem 7.5rem 4.31rem 8.25rem;
}
h1{
    font-size: 52px;
    margin: 0px;
}
p{
    font-size: 16px;
    font-weight: 600;
    margin: 16px 0px;
}
.bannar-btn{
    padding: 10px 24px;
    border-radius: 41px;
    color: #FFF;
    font-size: 16px; 
    font-weight: 700;
    border: none;   
}
.bannar img{
    background-image: url('images/Circle\ design.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 30px 30px 2px;
}
.primary-color{
    background: #E02C6D;
}
.icon{
    padding-left: 7px;
}
/* Logos style */
.logos{
    display: flex;
    gap: 3.75rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 6.25rem;
}
.logos img{
    width: 6rem;
    height: 1.75rem;
}
/* Popular Sec related style */
.popular-title{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}
.popular{
    display: grid;
    row-gap: 30px;
    grid-template-columns: repeat(3,1fr);
    margin: 1.87rem 12.25rem;    
}
.row-item{
    width: 20.56rem;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.row-item img{
    padding: 17px 15px 16px;
}
.rating{
    display: inline-block;
    color: #5E6366;
    font-size: 14px;
    font-weight: 700;
    padding: 5px;
}
.star i{
    font-size: 16px;
    color: #FB8200;
    padding: 0px;
}
.common-padding{
    padding: 0px 0px 5px 14px;
}
.popular p{
    color:  #787885;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    padding-bottom: 17px;
    margin: 0px;
}
h4{
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    color: rgba(0, 0, 0, 0.87);
    margin: 0px;
}
h3{
    margin: 0px;
    font-size: 28px;
    font-weight: 500;
    color: #18191F;
}
h6{
    text-align: right;
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 100px;
    margin-right: 13.31rem;
}
/* Featured section related style */
.featured{
    display: flex;
    gap: 96px;
    margin: 0px 10.31rem;
    align-items: center;
}
.featured button{
    border: none;
    color: #FFF;
    font-size: 16px;
    padding: 10px 24px;
    font-weight: 700;
}
.featured p{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 700;
}
.featured h2{
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;
}
/* Influncer section related style */
.influncer{
    text-align: center;
    background: #0A0826;
    padding: 50px 0px;
    margin-top: 100px;
}
.influncer h2{
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
}
.influncer p{
    color:  #D9DBE1;
    font-size: 14px;
    font-weight: 700;
}
.influncer img{
    padding: 17px 16px 0px 0px;
}
/* Responsive media query */
/* Smaller device */
@media screen and (max-width: 576px) {
    nav > ul{
        display: none;       
    }
    .logos{
        flex-wrap: wrap;
        gap: 30px;
    }
    .bannar{
        flex-direction: column-reverse; 
        text-align: center;       
    }
    .bannar img{
        width: 100%;
    }
    .bannar p{
        font-size: 14px;
    }
    .bannar-btn{
        font-weight: 500;
    }
    .featured{
        flex-direction: column;
        text-align: center;
        margin: 0px 16px;
    }
    .featured img{
        width: 100%;
    }
    .featured h2{
        font-size: 24px;
    }
    .influncer h2{
        font-size: 16px;
    }
    .popular{
        grid-template-columns: repeat(1,1fr);
        margin: 0px;
        margin-top: 20px;
        justify-self: center;
    }
    .popular-title{
        font-size: 16px;
    }
    .row-item{
        margin: 0px auto;
    }
    h1{
        margin: 0px;
        font-size: 28px;
    }
    h6{
        margin-right: 7.5rem;
    }
}
